.switch-mode {
    display: table;
    margin: auto;

    button {
        margin: 0;
        display: inline-block;
        padding: $spacer-02 $spacer-03;
        border-radius: 20px;
        transition: all .4s ease-in-out;
        font-weight: $weight-bold;
        text-transform: uppercase;
        @include themed() {
            color: t($text-base);
        }

        &:hover {
            @include themed() {
                background-color: t($background-alt);
                color: t($text-base);
            }

        }

        &:first-child {
            margin-right: $layout-01;
            &.is-active {
                background: $brand-primary;
                color: #fff;
            }
        }

        &:last-child {
            border-left: 1px solid $background-alt;
            &.is-active {
                background: $brand-secondary;
                color: #fff;
            }
        }
    }
}