// ------------
// Spacing zone
// ------------

// Spacings for components
$spacer-01 : .4rem !default;
$spacer-02 : .8rem !default;
$spacer-03 : 1.2rem !default;
$spacer-04 : 1.6rem !default;
$spacer-05 : 2.4rem !default;
$spacer-06 : 3.2rem !default;
$spacer-07 : 4rem !default;
$spacer-08 : 6.4rem !default;
$spacer-09: 8rem !default;

// Spacings for layout
$layout-01 : .4rem !default;
$layout-02 : .8rem !default;
$layout-03 : 1.2rem !default;
$layout-04 : 1.6rem !default;
$layout-05 : 2.4rem !default;
$layout-06 : 3.2rem !default;
$layout-07 : 4rem !default;
$layout-08 : 6.4rem !default;
$layout-09: 8rem !default;