.es--btn {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0;
  outline: none;
  padding: $spacer-04 $spacer-05;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  font-size: $fs-14;
  font-weight: $weight-semibold;
  line-height: $lh-20;
  border-radius: 28px;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:focus {
    box-shadow: inset 0 0 0 1pt black;
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--primary {
    color: $text--base--dark;
    background-size: 300% 100%;
    background-image: linear-gradient(to right,
        #c10dff,
        #fd0078,
        #c10dff,
        #fd0078);

    &:hover {
      background-position: 100% 0;
    }
  }

  &--secondary {
    color: $text-label;
    background: none;

    &:hover {
      color: $text--base--light;
    }
  }

  &--tertiary {
    background: $background--alt--light;
    color: $text-label;

    &:hover {
      color: $text--base--light;
    }
  }

  &--danger {
    background: $fill-danger;
    color: $text--base--dark;
  }
}


// .button-secondary {
//   @extend .button-classic;
//   background: none;
//   color: $text-label;

//   @include themed() {
//     transition: $transition-theme;
//     border: 1px solid t($border);
//   }

//   &:hover,
//   &:focus {
//     text-decoration: none;
//     @include themed() {
//       color: t($text-base);
//       transition: $transition-theme;
//       background-color: t($background-alt);
//     }
//   }
// }

// .button-link {
//   display: flex;
//   align-self: flex-start;
//   padding: $spacer-02 $spacer-03;
//   font-weight: $weight-bold;
//   border-radius: 8px;
//   transition: $transition-theme;
//   line-height: 2.4rem;
//   font-size: $fs-12;
//   @include themed() {
//     color: t($text-base);
//     border: 1px solid t($border);
//   }

//   &:hover,
//   &:focus {
//     background: $fill-brand;
//     border: $brand-primary 1px solid;
//     color: $brand-primary;
//   }

//   &.icon-only {
//     border-radius: 32px;
//     padding: $spacer-02 $spacer-02 !important;
//     display: inline;
//     height: 42px;
//     width: 42px;
//     margin-right: $layout-01;
//   }
// }

// .button-line {
//   margin-top: $layout-06;
//   display: flex;
//   padding-top: $spacer-03;
//   padding-bottom: $spacer-03;

//   @include themed() {
//     transition: $transition-theme;
//     border-top: 1px solid t($border);
//   }

//   &.centered {
//     justify-content: center;
//   }

//   &.right {
//     justify-content: flex-end;
//   }

//   button {
//     margin-left: $layout-02;
//     margin-bottom: 0;
//     margin-top: 0;

//     &:first-child {
//       margin-left: 0;
//     }
//   }

//   &--fixed {
//     @extend .button-line;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 3;
//     width: 100%;
//     padding-right: $spacer-04;

//     @include themed() {
//       transition: $transition-theme;
//       background-color: t($background-alt);
//     }
//   }
// }